body {
    border-color: black;
    border-width: 1px;
    border-style: dotted;
    background-color: white;
    padding: 50px;
    margin: 10px 200px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}