html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

a {
    /*color: #00B7FF;;*/
    color: #00A7FF;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #00B7FF;;
}

a:hover {
    text-decoration:underline;
}

.content {
    background-color: white;
    border-color: gray;
    opacity: 60%;
    border-width: 1px;
    border-style: solid;
    max-width: 800px;
    min-height: 600px;
    margin: 10px auto;
}

.tab {
    padding: 20px;
    padding-top: 0px;
}

.menu ul {
    text-align: right;
}

.menu li {
    display: inline;
    margin-right: 10px;
    font-size: 120%;
}

.question_input textarea{
    display: block;
    resize: vertical;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../img/q.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.question_input button{
    display: block;
    margin-left:auto;
    margin-top: 5px;
}

#qas .sort  {
    text-align: right;
}

#qas .nav  {
    text-align: center;
}

#qas .nav a {
    margin-right: 20px;
}

#qas .hidden {
    color: gray;
    pointer-events: none;
    cursor: default;    
}

.qa {
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    margin: 20px 0px;
    padding: 5px;
    position: relative;
}

.qa .value {
    display: block;
    padding: 5px;
}

.qa .timestamp{
    font-style: italic;
}

.qa .topic{
    margin-top: 15px;
}

.qa .question{
    margin-top: 15px;
}

.qa .answer{
    margin-top: 15px;
}

.qa .rate{
    position: absolute;
    top: 3px;
    right: 3px;
}

.qa .link{
    position: absolute;
    bottom: 3px;
    right: 3px;
}

#qas .qa .label{
    display: none;
}

#qas .qa .value{
    max-height: 100px;
    max-width: 100%;
    overflow: hidden;
}

#qas .qa .topic{
    display: none;
}

#answer .rate .label {
    display: none;
}

#answer .label {
    font-weight: bold;
}

#answer .qa .value {
    overflow-x: auto;
}
