doctype html
html
    head
        title Q&A
    body
        h2= {en: 'Something went wrong', ru: 'Что-то пошло не так'}[lang]
        p #{err}
        a(href='/')= {en: 'Main page', ru: 'Главная страница'}[lang]
