doctype html
html
    head
        title Q&A
        link(rel='stylesheet', href='/css/style.css')
    body
        .content
            .menu
                ul
                    li: a.tab_link.active(title='ask', href='#')= {en:'Ask', ru:'Задать вопрос'}[lang]
                    li: a.tab_link(title='qas', href='#')= {en:'Q&A', ru:'Вопросы-ответы'}[lang]
                    li: a.tab_link(title='about', href='#')= {en:'About', ru:'О сервисе'}[lang]

            #ask.tab
                h2= {en:'Ask', ru:'Вопрос'}[lang]
                .question_input
                    .topics
                        span= {en:'Topic', ru:'Тема'}[lang]
                        select
                    textarea
                    button= {en:'Ask', ru:'Спросить'}[lang]

            #answer.tab
                h2= {en:'Question', ru:'Вопрос'}[lang]
                .answer_tab_content


            #qas.tab
                h2= {en:'Q&A', ru:'Вопросы-ответы'}[lang]
                -var prev_text = {en:'Previous', ru: 'Предыдущие'}[lang]
                -var next_text = {en:'Next', ru: 'Следующие'}[lang]
                .sort
                    select.cbx_sort
                        option(value='time', selected)= {en:'Sort by Time', ru: 'Сортировать по времени'}[lang]
                        option(value='rate')= {en:'Sort by Rate', ru: 'Сортировать по рейтингу'}[lang]
                .qas_list
                .nav
                    a.btn_prev(href='#')= prev_text
                    a.btn_next(href='#')= next_text

            #about.tab
                case lang
                    when 'en'
                        h2 Q&A Serivce
                        p About
                    when 'ru'
                        h2 Сервис вопросов и ответов
                        p О сервисе

            #qa_template.qa
                    .timestamp
                        span.label
                        span.value
                    .topic
                        span.label={en: 'Topic', ru: 'Тема'}[lang]+': '
                        span.value
                    .question
                        span.label= {en: 'Question', ru: 'Вопрос'}[lang]+': '
                        span.value
                    .answer
                        span.label= {en: 'Answer', ru: 'Ответ'}[lang]+': '
                        span.value
                    .rate
                        span.label= {en: 'Rating', ru: 'Рейтинг'}[lang]+': '
                        button.value
                    .link
                        a= {en: 'Link', ru: 'Ссылка'}[lang]
        script(src='js/zepto.min.js')
        script(src='js/ctrl.js')

